.App {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top:3%;
  background-image: url("https://i.pinimg.com/originals/9e/c4/86/9ec486f714d6ee19c9fae66ff1ba1085.gif");
  background-repeat: no-repeat; 
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#search {
  padding-top: 3%;
  padding-bottom: 10%;
}

#header { 
  padding: 3%;
  font-size: xx-large;
  background-color: #fca7af;
  border-style: solid;
  border-color: #fca7af;
  border-radius: 10px;
}

.main {
  display: flex;
  flex-direction: column;
}
.nominations  {
  display: flex;
  padding: 3px;
  width: 60%;
  margin: auto;
  margin-top: 5px;
  border-style: solid;
  background-color: #fca7af;
  border-color: #fca7af;
  border-radius: 10px;
}
.result {
  display: flex;
  width: 60%;
  margin: auto;
  margin-bottom: 10%;
  border-style: solid;
  background-color: #fca7af;
  border-color: #fca7af;
  border-radius: 10px;
}
.collapsible {
  background-color: #fca7af;
  color: black;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #ed5aad;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
#noNom  {
  background-color: #fca7af;
  border-style: solid;
  background-color: #fca7af;
  border-color: #fca7af;
  border-radius: 10px;
}
#placeHold  {
  height: 300px;
}
#info {
  text-align: left;
}
#title  {
  font-weight: bold;
}
.resultText {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 5%;
  justify-content: space-between;
}
#navTitle {
  font-size: larger;
  font-weight: bold;
  padding: 2%;
  margin-top: 5%;
  background-color: #fca7af;
  border-style: solid;
  border-color: #fca7af;
  border-radius: 10px;
}