.App {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top:3%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#search {
  padding: 10%;
}

#header { 
  padding: 3%;
  font-size: xx-large;
  background-color: #fca7af;
  border-style: solid;
  border-color: #fca7af;
  border-radius: 10px;
}

.main {
  display: flex;
  flex-direction: column;
}
.nominations  {
  display: flex;
  padding: 3px;
  width: 60%;
  margin: auto;
  margin-top: 5px;
  border-style: solid;
  background-color: #fca7af;
  border-color: #fca7af;
  border-radius: 10px;
}
.result {
  display: flex;
  padding-bottom: 10%;
  justify-content: center;
}
#info {
  text-align: left;
}
#title  {
  font-weight: bold;
}
.resultText {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 5%;
  justify-content: space-between;
}
#navTitle {
  font-size: larger;
  font-weight: bold;
  padding: 2%;
  margin-top: 5%;
  background-color: #fca7af;
  border-style: solid;
  border-color: #fca7af;
  border-radius: 10px;
}